*{
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 6rem;
    color: aliceblue;
    font-size: 2rem;
}

.main{
    display: grid;
}